@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0,0%,14.51%;
    --foreground: 210, 63.64%,95.69%;

    /** Para las cards del carrousel **/
    --card: 0,0%,14.51%;
    --card-foreground: 210, 63.64%,95.69%;
 
    /** Para los cuadros de dialogo, elementos emergentes 
    tales como para editar los valores de la tabla**/
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

  /** 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    
  **/
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 358 99% 53%;

    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  /* .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  } */
}
 
@layer base {

  body {
    @apply bg-background text-foreground;
  }
}
.root {
  @apply flex max-h-screen w-full flex-col ;
}
.root-container {
  @apply flex-1 lg:max-h-screen 
}
@layer utilities {
  /**UTILIDADES***/

  /**Para centrar elementos. Vertical y horizontalmente **/
  .flex-center {
    @apply flex items-center justify-center;
  }

  /* Navbar Component */
  .navbar {
    @apply flex items-center justify-between sm:justify-around h-16 w-full p-3 shadow-md shadow-[#00000029];
  }

  .header-nav_elements {
    @apply mt-8 flex w-full flex-col items-start gap-5;
  }
  .header-nav_text{
    @apply p-4 font-semibold w-full h-full leading-5;
  }
  
  /* Search Component */
  .search {
    @apply flex w-full rounded-[16px] bg-green-dark px-4 shadow-sm  md:max-w-96;
  }

  /* Sidebar Component */
  .sidebar {
    @apply h-screen md:w-72 bg-dark-grey py-5 shadow-md shadow-dark-black/50;
  }

  .sidebar-logo {
    @apply flex items-center gap-2 md:py-2;
  }

  .sidebar-nav {
    @apply h-full flex-col justify-between w-full md:flex md:gap-4;
  }

  .sidebar-nav_elements {
    @apply hidden w-full flex-col items-start gap-2 md:flex;
  }

  .sidebar-nav_element {
    @apply flex-center  mt-4 cursor-pointer rounded-full font-semibold p-2 leading-[140%] w-full whitespace-nowrap hover:bg-green-dark hover:shadow-inner;
  }

  .sidebar-link {
    @apply p-16-semibold flex size-full gap-4 p-4;
  }

  /* Searcher component */
  .input-field {
    @apply rounded-[16px] border mt-2 border-green-dark shadow-sm shadow-green-dark bg-green-dark text-dark-black disabled:opacity-100 font-semibold md:h-[54px] focus-visible:ring-offset-0 px-2 py-1 focus-visible:ring-transparent !important;
  }

  .search-field {
    @apply border-0 bg-transparent text-dark-black w-full placeholder:text-dark-400 h-[50px] p-16-medium focus-visible:ring-offset-0 p-3 focus-visible:ring-transparent !important;
  }
}